<div class="navbar-wagon navbar-wagon-fixed">
  <h1 class="welcome-text">Welcome to the restaurant list!</h1>
  <h4 class="navbar-wagon-right navbar-wagon-button"><%= link_to "Add A Restaurant", new_restaurant_path %></h4>
</div>

<div class="container restaurants">
  <div class="row">
    <div class="col-xs-12 text-center padded">
      <% @restaurants.each do |restaurant| %>
        <%= link_to restaurant.name , restaurant_path(restaurant), class: "restaurant-name text-center restaurant-button" %>
        <p id="first-detail">Address: <%= restaurant.address %></p>
        <p>Phone Number: <%= restaurant.phone_number %></p>
        <p>Cuisine: <%= restaurant.category.capitalize %></p>

        <p><%= link_to "Edit", edit_restaurant_path(restaurant) %></p>
        <p><%= link_to "Delete", restaurant_path(restaurant), method: :delete %></p>
        <p id=last-detail><%= link_to "Add A Review", new_restaurant_review_path(restaurant) %></p>
      <% end %>
    </div>
  </div>
</div>

